.about-title {
    margin-top: 50px;
    text-align: center;
    font-size: x-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .aboutus_points {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 200px;
    font-size: 20px;
  }

  .aboutus_points > p{
    margin: 10px;
    font-size: 14px;
  }

  .VMV_img{
    display: grid;
    column-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
  }

  .imgs{
    display: flex;
    flex-direction: column;
  }

  img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }