body{
    font-size: 14px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.insights-wrapper {
    display: block;
    position: relative;
    top: 10px;
}

.insights-wrapper h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container{
    display: block;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.vedio-preview1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 25px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}
.vedio-preview2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    column-gap: 50px;
}
.vedio-vid{
    display: inline-block;
    object-fit: contain;

}
.hackeye{
    width: 400px;
    object-fit: contain;
    border: 2px;
    border-style:hidden;
    box-shadow: 5px 5px 55px rgb(59, 59, 59);

}
.video-phara{
    display: inline-block;
}

.video-phara > .video-text-cont{
    margin-top: 15px;
}
.video-discription{
    font-size: 14px;
}
.video-discription > p{
    margin: 0px;
}
.video-title > h4{
    margin: 5px;
}