.nav-wrapper{
    display: flex;
    height: 200px;
    align-items: flex-start;
    background-color: DodgerBlue;
}
.navbar-left{
    display: flex;
    background-color: blue;
    height: 45px;
    width: 100%;
}
.navbar-right{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}