.insights-wrapper {
    display: block;
    position: relative;
    top: 10px;
}

.insights-wrapper h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container{
    display: block;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.vedio-preview1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 25px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}
.vedio-preview2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    column-gap: 50px;
}
.vedio-vid{
    display: inline-block;
    object-fit: contain;

}
.hackeye{
    width: 500px;
    object-fit: contain;
    border: 2px;
    border-style:hidden;
    box-shadow: 5px 5px 55px rgb(59, 59, 59);

}
.video-phara{
    display: inline-block;
}
.video-discription{
    font-size: 18px;
}